
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style> 
    body{margin: 0;padding: 0;box-sizing: border-box;}
    #formm{border-radius: 8px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);}  
    .but{width: 100%;max-width: 400px;}
    #txt{  font-size:small;}
    .navvv{ border-top: 3px solid #d64933;}
</style>
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light bg-white navvv border-bottom " id="position"  style="font-size:small;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
      </button>
      <div class="dropdown ">
      <i class="fa fa-navicon ms-4" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:24px" onclick="side()"></i>
      <i class="fa fa-remove ms-4" id="remove" style="display: none;font-size:24px" onclick="sideR()"></i>
      <script>
      function side() {
          document.getElementById("remove").style.display = "block";
          document.getElementById("dropdownMenu2").style.display = "none";
      }
      function sideR(){
         document.getElementById("remove").style.display = "none";
          document.getElementById("dropdownMenu2").style.display = "block";
      }
      </script>
      <ul class="dropdown-menu mt-3" aria-labelledby="dropdownMenu2" style="width:210px; font-size: small;">
        <li><button class="dropdown-item" type="button"><img src='<%= asset_path("home.png") %>' style="width: 18px;"class="">   Home</li>
        <li><button class="dropdown-item" type="button"><img src='<%= asset_path("question-2.png") %>' style="width: 18px;" class="">   Questions</li>
        <li><button class="dropdown-item" type="button"><img src='<%= asset_path("price-tag-2.png") %>' style="width: 18px;" class="">   Tags</li>
        <li class="mt-5"><button class="dropdown-item" type="button"><img src='<%= asset_path("group.png") %>' style="width: 18px;" >   Users</li>
        <li><button class="dropdown-item" type="button"><img src='<%= asset_path("briefcase.png") %>' style="width: 18px;" class="">   Companies</li>

        <li class="mt-2">
          <div class="d-flex"><p class="dropdown-item fw-bold" type="button">COLLECTIVES</p>
            <h5>+</h5>
          </div>
        </li>
         <li class=""><button class="dropdown-item" type="button"><img src='<%= asset_path("star-2.png") %>' style="width: 18px;" class="">Explore collectives
        </li>
        <li class="mt-2">
          <div class="d-flex"><p class="dropdown-item fw-bold" type="button">LABS</p>
               <i class="fa fa-info-circle mt-2" style="font-size:15px"></i> 
          </div>
        </li>
         <li><button class="dropdown-item" type="button"><img src='<%= asset_path("chat.png") %>' style="font-size:15px; width: 18px;" class="">   Companies
         </li>
         <li class="mt-2">
          <div class=""><p class="dropdown-item fw-bold" type="button">COLLECTIVES</p>
            
          </div>
        </li>
        <li class="mt-2"><p class="fw-bold dropdown-item">TEAMS</p></li>
        <li class="mt-2" >
        <div class=" mx-auto"  style="width: 168px">
          <p class="txt">
            <span p class="fw-bold"style= " font-size: 15px;">Stack Overflow for Teams –</span><br>
            <span class="txt" style= " font-size: 12px;">Start collaborating and sharing organizational knowledge.</span>
          </p>
          <div class="text-center">
          <img src='<%= asset_path("teams-illo-free-sidebar-promo.png") %>' style="width: 120px;" class="img-fluid rounded-start">
          <button class="btn rounded border text-white" style="width: 168px;font-size:small;background-color:#eb711a">Create free team</button>
          <p class="btn mb-0" style="font-size:small;">Why Teams?</p>
          </div>

        </div></li>
      
      </ul>

    </div>
  
    <img src='<%= asset_path("logo-stackoverflow.png") %>' style="width: 10%;" class="ms-4">

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto  mb-lg-0">
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-2" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-2" href="#">For Teams</a>
        </li>
        <form class="d-flex">
         
            <input type="text" id="fname" class="rounded border-1  ms-3 " name="fname" placeholder="   Search..." style="width:700px;margin: 3px 0px;">

        </form>
           <button class="btn btn-outline-primary ms-2 rounded btn-sm  mt-1 mb-1" ><%= link_to 'Log in', new_user_session_path, class: "text-decoration-none"  %></button>
          <button class="btn btn-primary btn-sm ms-2 rounded btn-sm  mt-1 mb-1" >Sign up</button>

      </ul>
      
    </div>
    </div>
  </nav>
<section class="bg-light">
  <div class="card mb-3 container bg-light border-0 mt-4">
    <div class="row g-0">
      <div class="col-sm-6 col-md-5  col-lg-6 order-md-2 rounded " >
        <div class="card mx-auto" style="max-width: 450px;">
          <div class="card-body border-0 ms-0" id="formm" style="padding:30px">
            <h2 class="fw-bold">Create your account</h2>
            <p id="txt">By clicking “Sign up”, you agree to our <span class="text-primary">terms of service</span> and acknowledge you have read our <span class="text-primary">privacy policy.</span></p>
            
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form' }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="mb-3 fw-bold">
                <%= f.label :email, class: 'form-label' %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>

              <div class="mb-3">
                <div class="fw-bold">
                <%= f.label :password, class: 'form-label' %>
                <% if @minimum_password_length %>
                  
                <% end %>
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
              </div>
                <%# <p id="txt" >Must contain 8+ characters, including at least 1 letter and 1 number.</p> %>
              </div>

              <div class="mb-3 fw-bold">
                <%= f.label :password_confirmation, class: 'form-label' %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
              </div>

              <div class="text-center " >
                <%= f.submit "Sign up", class: 'btn btn-primary btn-block but rounded', style: "background-color: #3677e0;"%>
              </div>
              <hr>
            <% end %>
            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <%- if OmniAuth::Utils.camelize(provider) === "GoogleOauth2" %>
                <div class="border rounded mx-auto mt-4 d-flex justify-content-center but bg-white p-1" >
                <img src ='<%= asset_path("google.png") %>', width=20px, height=19px, class="mt-2">
                <span><%= button_to "Sign up with Google", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "btn m-0" , id: "txt"%></span>
                </div>
                <% else %>
                <div class="border rounded mx-auto mt-2 d-flex justify-content-center but bg-dark p-1">
                <img src ='<%= asset_path("github.png") %>', width=20px, height=20px, class="mt-2">
                <%= button_to "Log in with GitHub", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "btn text-white m-0" , id: "txt"%><br />
                </div>
                <% end %>
              <% end %>
            <% end %>

          </div>

        </div>
        <div class=" mx-auto  d-flex justify-content-center but  mt-4" id="txt">
            <%- if controller_name != 'sessions' %>
              Already have an account? <%= link_to "Log in", new_session_path(resource_name), class: "text-decoration-none" %><br />
            <% end %>
        </div>
        <div class=" mx-auto  d-flex justify-content-center but mt-3">

    
          <p id="txt">Are you an employer?   <%= link_to "Sign up on Talent", new_registration_path(resource_name), style: "text-decoration: none", id: "txt" %></p>
        </div>
      </div>


      <div class="col-sm-6 col-md-6 col-lg-6 order-md-1  align-items-center mx-auto  but container" style="height: 300px;margin-top:15vmin ;">
        <div class="card-body   ml-4">
              <img src='<%= asset_path("logo-stackoverflow.png") %>' style="width: 250px;" class="img-fluid rounded-start">
        </div>
        <div class=" align-items-center ms-3">
          <div class="d-flex ">
            <img src='<%= asset_path("question.png") %>' style="width: 40px" class="img-fluid rounded-start">
            <p class="m-2">Get unstuck - ask a question!</p>
          </div>
          <div class="d-flex mt-3">
             <img src='<%= asset_path("price-tag.png") %>' style="width: 40px;" class=" img-fluid rounded-start">
             <p class="m-2">Save your favorite posts, tags and filters</p>
          </div>
          <div class="d-flex mt-3">
              <img src='<%= asset_path("cup.png") %>' style="width: 40px;" class="img-fluid rounded-start">
              <p class="m-2">Answer questions and earn reputation</p>
          </div>
        
        <div class=" mt-4 mt-3">
            <p id="txt">Collaborate and share knowledge with a private group for FREE.<span class="text-primary"> Get Stack Overflow for Teams free for up to 50 users.</span></p>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>


