<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style> 
  

</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size:small;">
  		<div class="container">

		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon "></span>
		    </button>
    	
    		<div class="dropdown ">
  			<i class="fa fa-navicon ms-4" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:24px" onclick="side()"></i>
        <i class="fa fa-remove ms-4" id="remove" style="display: none;font-size:24px" onclick="sideR()"></i>

<script>
    function side() {
        document.getElementById("remove").style.display = "block";
        document.getElementById("dropdownMenu2").style.display = "none";
    }
    function sideR(){
       document.getElementById("remove").style.display = "none";
        document.getElementById("dropdownMenu2").style.display = "block";
    }
</script>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
		    <li><button class="dropdown-item" type="button">Action</button></li>
		    <li><button class="dropdown-item" type="button">Another action</button></li>
		    <li><button class="dropdown-item" type="button">Something else here</button></li>
		  </ul>

    	</div>
    <img src="https://strategyinsights.eu/wp-content/uploads/2022/08/logo-stackoverflow.png", style="width: 10%;", class="ms-4">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto  mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active ms-3" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-2" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-2" href="#">For Teams</a>
        </li>
        <form class="d-flex">
	       
	          <input type="text" id="fname" class="rounded border-1  ms-3 " name="fname" placeholder="   Search..." style="width:700px;margin: 3px 0px;">

      </form>
      	   <button class="btn btn-outline-primary ms-2 rounded btn-sm  mt-1 mb-1" ><%= link_to 'Log in', new_user_session_path, class: "text-decoration-none"  %></button>
	        <button class="btn btn-primary btn-sm ms-2 rounded btn-sm  mt-1 mb-1 " > <%= link_to "Sign up", new_user_registration_path , class: "text-white text-decoration-none"%><br />
  </button>

  

      </ul>
      
    </div>
  </div>
</nav>
<section class="container" >
   
<div class="border mt-5 text-center " id="element" style="margin: 0 auto; width: 100%; height: 1000px; background: radial-gradient(110% 25% at bottom, transparent 50%, black 51%); border-radius: 15px 15px 50px 50px;">
  <div class="container mt-5 ">
    <div class="row border border-info p-1">
      <div class="col-sm-12 col-md-6 mb-3 d-flex">
        <div id="dec_img-1">
        <img src="https://cdn.sstatic.net/Img/home/illo-code.svg?v=a44cdec68cbc" style="width: 130px;margin-top:100px ;" class="img-fluid border ">
        </div>
        <div class="card bg-dark mx-auto  mb-3" style="height: 250px;" id="card-1">
          <div class="card-body" style="background-color: #f7d5b2; border-radius: 15px;">
          <img src='<%= asset_path("loupe1).png") %>' style="width: 50px;" class="img-fluid rounded-start mt-2">
          <h5 class="card-text mt-3">Find the best answer to your technical question, help others answer theirs</h5>
          <a href="#" type="button" class="btn text-white mt-2 " style="background-color:#eb711a;width:170px">Join the community</a><br>
          <span class="mt-2 " style="font-size: small;">or <a href="#" class="text-dark">search content</a></span>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 mb-3 d-flex">
        <div class="card bg-dark " style="height: 250px;" id="card-1">
          <div class="card-body" style="background-color: #a8c3e0; border-radius: 15px;">
          <img src='<%= asset_path("lock.png") %>' style="width: 50px;" class="img-fluid rounded-start mt-2">
          <h5 class="card-text mt-3">Want a secure, private space for your technical knowledge?</h5>
          <a href="#" class="btn fw-bold text-white mt-2" style="background-color:#2874de;width:170px">Discover Teams</a>
          </div>
        </div>
        <div id="dec_img-1">
        <img src="https://cdn.sstatic.net/Img/home/illo-code.svg?v=a44cdec68cbc" style="width: 130px;" class="img-fluid border border-warning">
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <h1 class="fw-bold text-white">Every developer has a<br>tab open to Stack Overflow</h1>
  </div>  
</div>





</section>
<% if user_signed_in? %>
  <h1>Welcome Home, <%= current_user.email %> venkateshhhhhh</h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <h1>Landing </h1>
  
<% end %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
      @media screen and (min-width: 1000px) {
        #card-1 {
          width: 55vmin;
        }
      }
      @media screen and (max-width: 769px) {
        #dec_img-1 {
          display: none;
        }
      }
     
    </style>

</body>
</html>
