<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Source Sans Pro' rel='stylesheet'>


	<style> 
    *{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
    }
    #hi{
            position: relative;
            animation: dropAnimation 1s ease-in-out;
      }

      @keyframes dropAnimation {
            0% {
                transform: translateY(-50px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
      }
      
        #ihi {
              margin: 0;
            padding: 0;
        }
        #ihi h2{
            margin: 0;
            color: white;
            font-size: 4vmax;
            text-align: center;
            font-family: 'Roboto Slab'

        }
        #text{
           font-family: 'Roboto Slab';
           font-weight: bold;
        }
        #text2{
          font-family: 'Source Sans Pro'
        }
       #cards_2 {        
        height: 850px;
        width: 520px;
        position: absolute;
        top: 58vmax;
        left: 14vmax;
        right: 0;
        bottom: 0;
        padding: 48px 0;
        margin-bottom: 50px;
        background: rgb(248,249,254);
        background: rgb(248,249,254);
        background: linear-gradient(180deg, rgba(248,249,254,1) 3%, rgba(255,141,9,1) 96%);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
       
      }

        #cards_22{
          height: 850px;
        width: 520px;
          position: absolute;
          top:58vmax;
          left:51vmax;
          right: 0;
          bottom: 0;
          margin-bottom: 50px;
        background: rgb(248,249,254);
        background: linear-gradient(180deg, rgba(248,249,254,1) 3%, rgba(10,163,255,1) 100%);
           border-radius: 10px;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              
        }
        #cards_3{
           height: 350px;
           width: 450px;
       
          position: absolute;
          top: 140vmax;
          left: 34vmax;
          right: 0;
        }
        #cardanim:hover{
          
          -ms-transform: scale(1.5); 
          -webkit-transform: scale(1.5); 
          transform: scale(1.5); 
        }
       
    </style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size:small;">
  		<div class="container">

		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon "></span>
		    </button>
    	
    		<div class="dropdown ">
  			<i class="fa fa-navicon ms-4" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" style="font-size:24px" onclick="side()"></i>
        <i class="fa fa-remove ms-4" id="remove" style="display: none;font-size:24px" onclick="sideR()"></i>

        <script>
          function side() {
          document.getElementById("remove").style.display = "block";
          document.getElementById("dropdownMenu2").style.display = "none";
          }
          function sideR(){
        document.getElementById("remove").style.display = "none";
          document.getElementById("dropdownMenu2").style.display = "block";
          }
      </script>
		  <ul class="dropdown-menu mt-3" aria-labelledby="dropdownMenu2" style="width:210px; font-size: small;">
        <li><button class="dropdown-item" type="button"><img src='<%= asset_path("home.png") %>' style="width: 18px;"class="">   Home</li>
        <li><button class="dropdown-item" type="button"><img src='<%= asset_path("question-2.png") %>' style="width: 18px;" class="">   Questions</li>
        <li><button class="dropdown-item" type="button"><img src='<%= asset_path("price-tag-2.png") %>' style="width: 18px;" class="">   Tags</li>
        <li class="mt-5"><button class="dropdown-item" type="button"><img src='<%= asset_path("group.png") %>' style="width: 18px;" >   Users</li>
        <li><button class="dropdown-item" type="button"><img src='<%= asset_path("briefcase.png") %>' style="width: 18px;" class="">   Companies</li>

        <li class="mt-2">
          <div class="d-flex"><p class="dropdown-item fw-bold" type="button">COLLECTIVES</p>
            <h5>+</h5>
          </div>
        </li>
         <li class=""><button class="dropdown-item" type="button"><img src='<%= asset_path("star-2.png") %>' style="width: 18px;" class="">Explore collectives
        </li>
        <li class="mt-2">
          <div class="d-flex"><p class="dropdown-item fw-bold" type="button">LABS</p>
               <i class="fa fa-info-circle mt-2" style="font-size:15px"></i> 
          </div>
        </li>
         <li><button class="dropdown-item" type="button"><img src='<%= asset_path("chat.png") %>' style="font-size:15px; width: 18px;" class="">  Companies
         </li>
         <li class="mt-2">
          <div class=""><p class="dropdown-item fw-bold" type="button">COLLECTIVES</p>
            
          </div>
        </li>
        <li class="mt-2"><p class="fw-bold dropdown-item">TEAMS</p></li>
        <li class="mt-2" >
        <div class=" mx-auto"  style="width: 168px">
          <p class="txt">
            <span p class="fw-bold"style= " font-size: 15px;">Stack Overflow for Teams –</span><br>
            <span class="txt" style= " font-size: 12px;">Start collaborating and sharing organizational knowledge.</span>
          </p>
          <div class="text-center">
          <img src='<%= asset_path("teams-illo-free-sidebar-promo.png") %>' style="width: 120px;" class="img-fluid rounded-start">
          <button class="btn rounded border text-white" style="width: 168px;font-size:small;background-color:#eb711a">Create free team</button>
          <p class="btn mb-0" style="font-size:small;">Why Teams?</p>
          </div>

        </div></li>
      </ul>

    </div>
    <img src='<%= asset_path("logo-stackoverflow.png") %>' style="width: 10%;" class="ms-4">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto  mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active ms-3" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-2" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ms-2" href="#">For Teams</a>
        </li>
        <form class="d-flex">
	       
	          <input type="text" id="fname" class="rounded border-1  ms-3 " name="fname" placeholder="   Search..." style="width:700px;margin: 3px 0px;">

      </form>
      	   <button class="btn btn-outline-primary ms-2 rounded btn-sm  mt-1 mb-1" ><%= link_to 'Log in', new_user_session_path, class: "text-decoration-none"  %></button>
	        <button class="btn btn-primary btn-sm ms-2 rounded btn-sm  mt-1 mb-1 " > <%= link_to "Sign up", new_user_registration_path , class: "text-white text-decoration-none"%><br />
      </button>

  

        </ul>
      
      </div>
    </div>
  </nav>
<section class="container" >
   
  <div class=" mt-5 text-center " id="element" style="margin: 0 auto; width: 100%; height: 1000px; background: radial-gradient(110% 20% at bottom, transparent 50%, black 51%); border-radius: 15px 15px 50px 50px;">
  <div class="container mt-5 g-0">
    <div class="row border border-info p-1 g-0">
      <div class=" col-12 col-sm-12 col-md-12 col-lg-6 mb-3 d-flex">
        <div id="dec_img-1">
        <img src="https://cdn.sstatic.net/Img/home/illo-code.svg?v=a44cdec68cbc" style="width: 130px;margin-top:100px ;" class="img-fluid border ">
        </div>
        <div class="card bg-dark mx-auto  mb-3" style="height: 250px;" id="card-1">
          <div class="card-body" style="background-color: #f7d5b2; border-radius: 15px;">
          <img src='<%= asset_path("loupe1).png") %>' style="width: 50px;" class="img-fluid rounded-start mt-2">
          <h5 class="card-text mt-3">Find the best answer to your technical question, help others answer theirs</h5>
          <a href="#" type="button" class="btn text-white mt-2 fw-bold"  id="text2" style="background-color:#E7700D;padding: 12px 32px;font-size: 15px;">Join the community</a><br>
          <span class="mt-2 " style="font-size: small;">or <a href="#" class="text-dark">search content</a></span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-3 d-flex">
        <div class="card bg-dark " style="height: 250px;" id="card-1">
          <div class="card-body" style="background-color: #a8c3e0; border-radius: 15px;">
          <img src='<%= asset_path("lock.png") %>' style="width: 50px;" class="img-fluid rounded-start mt-2">
          <h5 class="card-text mt-3">Want a secure, private space for your technical knowledge?</h5>
          <a href="#" type="button" class="btn text-white mt-2 fw-bold" id="text2" style="background-color:#1B75D0;width:210px;height: 43px; padding: 12px 32px;font-size: 15px;">Discover Teams</a>
          </div>
        </div>
        <div id="dec_img-1">
        <img src="https://cdn.sstatic.net/Img/home/illo-code.svg?v=a44cdec68cbc" style="width: 130px;" class="img-fluid border border-warning">
        </div>
      </div>
    </div>
  </div>
  <div class="text-center  mt-4" id="ihi">
    
      <div class="text-white">
        <h2 class="m-0 fw-bold">Every <span id="hi" style="color:#eb711a"></span> has a <br>tab open to Stack Overflow</h2>
      </div>
  </div>
  <div class="mx-auto   mt-2">
    <img src='<%= asset_path("bar.jpeg") %>' style="width: 80px;" class="img-fluid rounded-start">
  </div>
  <div class="container text-center mx-auto text-white " style="width:70vmax">
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-4 m-0 g-0"  >
      <div class="col">
        <div class="card h-100 w-80 border-0" id="cards_4" style="background-color:black">
          <div class="card-body ">
            <h5 class="card-title" id="text">100+ milslion</h5>
            <p class="card-text" style="color:#A7ADB4" id="text2">monthly visitors to Stack Overflow & Stack Exchange</p>
          </div>
          
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0" id="cards_4" style="background-color:black">
        <div class="card-body">
          <h5 class="card-title" id="text">45.1+ billion</h5>
          <p class="card-text" style="color:#A7ADB4" id="text2">Times a developer got help since 2008</p>
        </div>
        
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0" id="cards_4" style="background-color:black">
        <div class="card-body">
          <h5 class="card-title" id="text">191% ROI</h5>
          <p class="card-text" style="color:#A7ADB4" id="text2">from companies using Stack Overflow for Teams</p>
        </div>
       
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0" id="cards_4" style="background-color:black">
        <div class="card-body">
          <h5 class="card-title" id="text">5,000+</h5>
          <p class="card-text " style="color:#A7ADB4" id="text2">Stack Overflow for Teams instances active every day</p>
        </div>
        
        </div>
      </div>
    </div>
  </div>
    <script>
        let a = ["Developer", "Data Scientist", "System Admin", "Mobile Developer", "Game Developer"];
        let hiElement = document.getElementById('hi');

        for (let i = 0; i < a.length; i++) {
            let newElement = document.createElement('span');
            newElement.textContent = a[i];
            newElement.style.display = i === 0 ? 'inline' : 'none';
            hiElement.appendChild(newElement);
        }

        let currentIndex = 0;

        setInterval(() => {
            hiElement.children[currentIndex].style.display = 'none';
            currentIndex = (currentIndex + 1) % a.length;
            hiElement.children[currentIndex].style.display = 'inline';
        }, 1500);
    </script>



  </div>
  <div class="container" style="margin-top:500px">
    <div class="row">
    <div class=" col-12 col-sm-12 col-md-6  mb-5 text-center" id="cards_2">
          <img src='<%= asset_path("logo-stackoverflow.png") %>' style="width: 200px;" class="img-fluid rounded-start"><br>
          <div>
          <img src='<%= asset_path("illo-public.png") %>' style="width: 520px;height: 345px;margin: 32px 0;" class="img-fluid rounded-start border">
          </div>
          <div>
            <h2 id="text" style="width: 425px;height: 105px;margin: 0 48px 12px; font-size:27px" class="border border-dark">A public platform building the definitive collection of coding questions & answers</h2>
          </div>
          <div>
            <p id="text2" style="width: 425px;height: 75px;margin: 0 48px 32px; font-size:19px">A community-based space to find and contribute answers to technical challenges, and one of the most popular websites in the world.</p>
          </div>
          <div>
            <a href="#" type="button" class="btn text-white mt-2 "  id="text2" style="background-color:#E7700D;padding: 12px 32px;font-size: 15px;">Join the community</a><br>
          <span class="mt-2 " style="font-size: small;">or <a href="#" class="text-dark">search content</a></span>
          </div>

    </div>
    <div class=" col-12  col-sm-12 col-md-6  mb-5 text-center" id="cards_22">
      <div class="d-flex flex-row justify-content-center mt-5"><img src='<%= asset_path("Stack_Overflow_icon.png") %>' style="width:50px;" class="img-fluid rounded-start ">
        <h3 id="" class="mt-2">FOR TEAMS</h3>
      </div>
      <div>
          <img src='<%= asset_path("illo-teams.png") %>' style="width: 520px;height: 345px;margin: 32px 0;" class="img-fluid rounded-start border">
      </div>
      <div>
        <h2 id="text" style="width: 425px;height: 105px;margin: 0 48px 12px; font-size:27px">A private collaboration & knowledge sharing SaaS platform for companies</h2>
      </div>
      <div>
          <p id="text2" style="width: 425px;height: 85px;margin: 0 48px 32px; font-size:19px" class="border border-dark">A web-based platform to increase productivity, decrease cycle times, accelerate time to market, and protect institutional knowledge.</p>
      </div>
    
      <div style="width: 210px; height: 17px;margin: 0 154px 12px 154px;" class="d-flex flex-row justify-content-center">
        <div style="width: 50px" class=""><hr></div>
        <div id="text2" class="pt-1 pl-2" style="font-size:13px">Get started</div>
        <div style="width: 50px" ><hr></div>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <a href="#" style="font-size:15px;background-color: #1B75D0;padding: 12px; height: 43px;width: 198px" id="text2"  class="text-white text-decoration-none btn" >For large organization<img src='<%= asset_path("briefcase.png") %>' style="font-size:15px; width: 18px;" class="ms-2"></a>
         <a href="#" style="font-size:15px;background-color: #1B75D0;padding: 12px;margin: 0 0 0 8px;height: 43px;width: 150px" id="text2"  class="text-white text-decoration-none btn" >For small teams<img src='<%= asset_path("group.png") %>' style="font-size:15px; width: 18px;" class="ms-1"></a>
      </div>
    </div>
  </div>
  </div><br>
  <div class="" style="height: 115px;width: 200px">

  </div>
</section>
<section class="container ">
  <div class=" mx-auto text-center" style="height: 360px;width: 1024px;padding: 96px 0 64px;" >
    <p style="height: 25px; width: 1024px;font-size:19px;color: 636B74; margin: 0 0 19px;" id="text2" >Thousands of organizations around the globe use Stack Overflow for Teams</p>
    <div>
      <div id="carouselExampleDark" class="carousel carousel-dark slide mt-5 bg-white" data-bs-ride="carousel">
        
        <div class="carousel-inner">
          <div class="carousel-item active  " data-bs-interval="1000">
            <div class="d-flex  justify-content-evenly">
            <img src='<%= asset_path("c1.png") %>' style="width: 60px;height: 50px;" class="img-fluid rounded-start d-block ">
             <img src='<%= asset_path("c2.png") %>' style="width: 150px;height: 50px;" class="img-fluid rounded-start d-block ">
             <img src='<%= asset_path("c3.png") %>' style="width: 130px;height: 50px;" class="img-fluid rounded-start d-block">
              <img src='<%= asset_path("c5.png") %>' style="width: 185px;height: 50px;" class="img-fluid rounded-start d-block ">
            </div>
          </div>
          <div class="carousel-item " data-bs-interval="2000">
            <div class="d-flex justify-content-evenly">
            <img src='<%= asset_path("c6.png") %>' style="width: 150px;height: 50px;" class="img-fluid rounded-start d-block ">
             <img src='<%= asset_path("c7.png") %>' style="width: 150px;height: 50px;" class="img-fluid rounded-start d-block ">
             <img src='<%= asset_path("c8.png") %>' style="width: 150px;height: 50px;" class="img-fluid rounded-start d-block">
              <img src='<%= asset_path("c9.png") %>' style="width: 150px;height: 50px;" class="img-fluid rounded-start d-block ">
            </div>
          </div>
          <div class="carousel-item " data-bs-interval="3000">
            <div class="d-flex  justify-content-evenly">
            <img src='<%= asset_path("c10.png") %>' style="width: 250px;height: 50px;" class="img-fluid rounded-start d-block ">
             <img src='<%= asset_path("c11.png") %>' style="width: 200px;height: 50px;" class="img-fluid rounded-start d-block ">
            </div>
          </div>
        </div>
        <%# <div class="carousel-indicators border border-dark ">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active " aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div> %>
    
      
      </div>
    </div>
  </div>
</section>
<div class=" bg-danger rounded-start" style="height: 50px; width: 60px;">
</div>
<div class=" bg-warning rounded-end" style="height: 50px; width: 60px;margin-left:59px ;">
</div>
<section class="container"> 
  <div class="row row-cols-1 row-cols-md-3 g-0  mx-auto border border-dark d-flex" style="width: 70%;">
    <div class="col">
      <div class="card ">
      <img src='<%= asset_path("illo-question.png") %>' style="width: 100%;height: 80%;" class="img-fluid rounded-start d-block ">
      </div>
    </div>
    <div class="col ">
      <div class="card ">
      <img src='<%= asset_path("illo-for-you.png") %>' style="width: 100%;height: 80%;margin-left:300px ;" class="img-fluid rounded-start d-block ">    
      </div>
    </div>
    <div class="col">
      <div class="card" id="cards_3">
      <img src='<%= asset_path("illo-home-search.png") %>'  class="img-fluid rounded-start d-block ">    
      </div>
    </div>
  </div>
  
  <div class="text-center  mx-auto text-white " style="height:2862px;background-color: #0C0D0E;font-size: 13px;padding: 128px 0 96px;border-radius: 20px;">
    <div>
        <img src='<%= asset_path("stack-overflow-teams2.png") %>'  class="img-fluid" style="width: 250px;margin: 0 0 32px;">  
    </div>
    <div  class=" mx-auto " style="width:740px; height: 72px;font-size: 27px; margin: 0 72px 32px 0;">
        <p id="text">Capture your company’s knowledge and context in a discoverable format to <span id="text" style="color:#E7700D;width:36px; height: 24px;font-size: 27px;">unblock your team</span></p>
    </div>
      <a href="#" type="button" class="btn text-white mt-2 fw-bold" id="text2" style="background-color:#1B75D0;width:210px;height: 43px; padding: 12px 32px;font-size: 15px;">Take a tour of Teams</a>

    <div style="width: 1102px; height:265px; margin: -24px -24px 64px; padding: 64px 0 0;" class=" mx-auto border border-info ">
      <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 g-4 d-flex justify-content-around">
        <div class="col">
          <div class="card h-100  text-center bg-dark" >
           <img src='<%= asset_path("check-mark.png") %>'  class="img-fluid mx-auto" style="width: 16px;height: 16px;"> 
            <div class="card-body">
              <h5 class="card-title" id="text">Increase productivity</h5>
              <p class="card-text" id="text2" style="color:#a7adb4;font-size:17px">If somebody somewhere has the right answer, suddenly you have it too. Collaborate better in a remote-first world.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-center bg-dark" >
            <img src='<%= asset_path("check-mark.png") %>'  class="img-fluid mx-auto" style="width: 16px;height: 16px;"> 
            <div class="card-body">
              <h5 class="card-title" id="text">Accelerate time to market</h5>
              <p class="card-text" id="text2"  style="color:#a7adb4;font-size:17px" >Shorten the time between initial idea and complete product. Take delays and misinformation out of the equation.</p>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-center bg-dark" >
              <img src='<%= asset_path("check-mark.png") %>'  class="img-fluid mx-auto" style="width: 18px;height: 18px;"> 
            <div class="card-body">
              <h5 class="card-title" id="text">Protect institutional knowledge</h5>
              <p class="card-text" id="text2"  style="color:#a7adb4;font-size:17px">People come and people go, but if you capture their contributions in one central place, that expertise sticks around.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center border">
      <h2 id="text" class="mb-3">Ensure your company stays on course</h2>
      <h5 id="text2">Here are just a few types of technologists that we help.</h5>
    </div>
    


    <div class="border border-danger">
      <div class="row row-cols-1 row-cols-md-1 row-cols-lg-5 g-0 mx-auto  align-items-center d-flex justify-content-evenly" style="width: 1150px;height: 500px;">
        <div class="col mt-5" style="height:256px;width:165px;margin: 0px;" id="cardanim1">
          <div class="card text-center"  onclick="cardfun1()" style="background-color: #0C0D0E;">
            <img src='<%= asset_path("rocket.png") %>' class="img-fluid mx-auto mb-3 mt-3" style="width:96px;height:96px;"> 
            <div class="card-body">
                <h3 class="card-title" id="text">DevOps engineers</h3>
            </div>
          </div> 
        </div>
        <div class="col mt-5" style="height:300px;width:300px;margin: 0px;display: none;" id="cardanim11" >
          <div class="card text-center bg-dark" >
            <img src='<%= asset_path("rocket.png") %>' class="img-fluid mx-auto mb-3 mt-3" style="width:105px;height:96px;"> 
            <div class="card-body">
                <h3 class="card-title" id="text">DevOps engineers</h3>
                <p id="text2">Shipping new products and features requires teamwork and coordination. Forget checklists and long docs no one ever reads.</p>
            </div>
          </div>
        </div>
        <div class="col mt-5" style="height:256px;width:165px;margin: 0px;" id="cardanim2">
          <div class="card text-center "  onclick="cardfun2()" style="background-color: #0C0D0E;">
           <img src='<%= asset_path("network22.png") %>'  class="img-fluid mx-auto mb-3 mt-3" style="width:96px;height: 96px;"> 
            <div class="card-body">
              <h3 class="card-title" id="text" >Data scientists</h3>
            </div>
          </div>
        </div>
        <div class="col mt-5" style="height:300px;width:300px;display: none;" id="cardanim22" >
          <div class="card text-center  bg-dark">
            <img src='<%= asset_path("network.png") %>' class="img-fluid mx-auto mb-3 mt-3" style="width: 105px; height: 96px;"> 
            <div class="card-body">
                <h3 class="card-title" id="text">Data scientists</h3>
                <p id="text2">Business decisions are better when backed by data. Give visibility to the data that support your strategies.</p>
            </div>
          </div>
        </div>
        <div class="col mt-5" style="height:256px;width:165px;margin: 0px;display: none;"  id="cardanim3">
          <div class="card text-center  "  onclick="cardfun3()" style="background-color: #0C0D0E;">
           <img src='<%= asset_path("software.png") %>'  class="img-fluid mx-auto mb-3 mt-3" style="width: 96px;height: 96px;"> 
            <div class="card-body">
              <h3 class="card-title" id="text" >Software engineers</h3>
            </div>
          </div>
        </div>
        <div class="col mt-5" style="height:300px;width:300px;margin: 0px;" id="cardanim33">
          <div class="card text-center  bg-dark"  >
           <img src='<%= asset_path("development.png") %>'  class="img-fluid mx-auto mb-3 mt-3" style="width: 105px;height: 96px;"> 
            <div class="card-body">
              <h3 class="card-title" id="text" >Software engineers</h3>
              <p id="text2">Help engineers be more efficient and streamline knowledge sharing using a tool they already love and trust.</p>
            </div>
          </div>
        </div>
        <div class="col mt-5" style="height:256px;width:165px;margin: 0px;" id="cardanim4">
          <div class="card text-center "  onclick="cardfun4()"  style="background-color:#0C0D0E;">
           <img src='<%= asset_path("headphones.png") %>'  class="img-fluid mx-auto mb-3 mt-3" style="width: 96px;height: 96px;"> 
            <div class="card-body">
              <h3 class="card-title" id="text" >Support teams</h3>
            </div>
          </div>
        </div>
        <div class="col mt-5" style="height:300px;width:300px;margin: 0px; display: none;" id="cardanim44">
          <div class="card text-center  bg-dark"  >
           <img src='<%= asset_path("headphone.png") %>'  class="img-fluid mx-auto mb-3 mt-3" style="width: 105px;height: 96px;"> 
            <div class="card-body">
              <h3 class="card-title" id="text" >Support teams</h3>
               <p id="text2">Level up your support by providing information to your customers using a natural interface: questions and answers.</p>
            </div>
          </div>
        </div>
        <div class="col mt-5" style="height:256px;width:165px;margin: 0px; " id="cardanim5">
          <div class="card text-center "  onclick="cardfun5()" style="background-color: #0C0D0E;">
           <img src='<%= asset_path("group-chat.png") %>'  class="img-fluid mx-auto mb-3 mt-3" style="width: 96px;height: 96px;"> 
            <div class="card-body">
              <h3 class="card-title" id="text" >Engineeringleaders</h3>
            </div>
          </div>
        </div>
        <div class="col mt-5" style="height:300px;width:300px;margin: 0px;display: none;" id="cardanim55">
          <div class="card text-center  bg-dark"  style="">
           <img src='<%= asset_path("management.png") %>'  class="img-fluid mx-auto mb-3 mt-3" style="width: 105px;height: 96px;"> 
            <div class="card-body">
              <h3 class="card-title" id="text" >Engineering leaders</h3>
              <p id="text2">Help your team get the information they need to do their job - reduce burnout and help engineers grow and learn together.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
        function cardfun1(){
          document.getElementById("cardanim1").style.display="none";
          let cardElement = document.getElementById("cardanim11");
          cardElement.style.display="block";
          cardElement.style.msTransform = 'scale(1.1)';
          cardElement.style.webkitTransform = 'scale(1.1)';
          cardElement.style.transform = 'scale(1.2)';
           document.getElementById("cardanim2").style.display="block";
           
          document.getElementById("cardanim22").style.display="none";
          document.getElementById("cardanim3").style.display="block";
          document.getElementById("cardanim33").style.display="none";
           document.getElementById("cardanim4").style.display="block";
          document.getElementById("cardanim44").style.display="none";
          document.getElementById("cardanim5").style.display="block";
          document.getElementById("cardanim55").style.display="none";
        }
        function cardfun2(){
          document.getElementById("cardanim1").style.display="block";
          document.getElementById("cardanim11").style.display="none";
          document.getElementById("cardanim2").style.display="none";
          let cardElement = document.getElementById("cardanim22");
          cardElement.style.display="block";
          cardElement.style.msTransform = 'scale(1.1)';
          cardElement.style.webkitTransform = 'scale(1.1)';
          cardElement.style.transform = 'scale(1.2)';
          document.getElementById("cardanim3").style.display="block";
          
          
          document.getElementById("cardanim33").style.display="none";
           document.getElementById("cardanim4").style.display="block";
          document.getElementById("cardanim44").style.display="none";
          document.getElementById("cardanim5").style.display="block";
          document.getElementById("cardanim55").style.display="none";
        }
         function cardfun3(){
          document.getElementById("cardanim1").style.display="block";
          document.getElementById("cardanim11").style.display="none";
          document.getElementById("cardanim2").style.display="block";
          document.getElementById("cardanim22").style.display="none";
          document.getElementById("cardanim3").style.display="none";
          let cardElement = document.getElementById("cardanim33");
          cardElement.style.display="block";
          cardElement.style.msTransform = 'scale(1.2)';
          cardElement.style.webkitTransform = 'scale(1.2)';
          cardElement.style.transform = 'scale(1.2)';
           document.getElementById("cardanim4").style.display="block";
           
          document.getElementById("cardanim44").style.display="none";
          document.getElementById("cardanim5").style.display="block";
          document.getElementById("cardanim55").style.display="none";

        }
         function cardfun4(){
          document.getElementById("cardanim1").style.display="block";
          document.getElementById("cardanim11").style.display="none";
          document.getElementById("cardanim2").style.display="block";
          document.getElementById("cardanim22").style.display="none";
          document.getElementById("cardanim3").style.display="block";
          document.getElementById("cardanim33").style.display="none";
          document.getElementById("cardanim4").style.display="none";
          let cardElement = document.getElementById("cardanim44");
          cardElement.style.display="block";
          cardElement.style.msTransform = 'scale(1.1)';
          cardElement.style.webkitTransform = 'scale(1.1)';
          cardElement.style.transform = 'scale(1.2)';
          document.getElementById("cardanim5").style.display="block";
        
          document.getElementById("cardanim55").style.display="none";
        }
        function cardfun5(){
          document.getElementById("cardanim1").style.display="block";
          document.getElementById("cardanim11").style.display="none";
          document.getElementById("cardanim2").style.display="block";
          document.getElementById("cardanim22").style.display="none";
          document.getElementById("cardanim3").style.display="block";
          document.getElementById("cardanim33").style.display="none";
          document.getElementById("cardanim4").style.display="block";
          document.getElementById("cardanim44").style.display="none";
          document.getElementById("cardanim5").style.display="none";
          let cardElement = document.getElementById("cardanim55");
          cardElement.style.display="block";
          cardElement.style.msTransform = 'scale(1.1)';
          cardElement.style.webkitTransform = 'scale(1.1)';
          cardElement.style.transform = 'scale(1.2)';

        }
    </script>


  <div>
    <style>
        .switch {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 25px;
        }

        .switch input { 
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 20px;
          width: 19px;
          left: 2px;
          bottom: 2px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: darkgreen;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px red;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

      
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
        </style>

      <div class="d-flex container" style="margin:0 10px 20px;">
        <p id="text2" style="font-size: 15px;" class="me-2">Annual billing dicount</p>

        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider round" ></span>
        </label>
      </div>

    <%# four cards container start in 6th component %>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-1">
          <div class="col">
            <div class="card" style="padding: 15px;height: 560px;width: 310px;">
              <div class="card-top">
                <h2 id="text2" style="font-size:17px;margin:0 0 17px;padding: 4px 8px;background-color: #e7700d;height: 30px;width: 47px;" class="rounded">Free</h2>
              </div>
              <div class="card-body border text-dark text-start">
                <div style="margin: 0 0 25px;padding: 0 0 24px;height: 90px;" class="border-bottom border-danger">
                  <p id="text" class="border border-dark " style="height:40px;margin: 0 0 6px; font-size:27px;">Free</p>
                  <p style="color:#a7adb4;font-size:15px" id="text2">No credit card required</p>
                </div>
                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                    <img src='<%= asset_path("loudspeaker.png") %>'  class="img-fluid " style="width: 20px;height: 20px;"> 
                  </div>
                    <p class="text2" style="font-size: 15px;">ChatOps integrations - Slack & Microsoft Teams</p>
                </div>

                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                  <img src='<%= asset_path("locker.png") %>'  class="img-fluid " style="width: 22px;height: 20px;"> 
                  </div>
                    <p class="text2" style="font-size: 15px;">Your own private space hosted on stackoverflowteams.com</p>
                </div>

                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                    <img src='<%= asset_path("box.png") %>'  class="img-fluid " style="width: 22px;height: 20px;"> 
                  </div>
                  <p class="text2" style="font-size: 15px;">Structured and searchable knowledge base</p>
                </div>

                <div style="margin:100px 0 0" class="text-center">
                    <a href="#" style="height: 43px;margin: 25px 0 0;padding: 12px 70px;background-color: #e7700d;" id="text2" class="fw-bold rounded text-decoration-none text-white">create a free team</a>
                </div>

                  <p style="color:#a7adb4;font-size:15px;padding: 12px 0 0 0;" id="text2" class="mb-0 text-center">Always free up to 50 teammates</p>
              </div>   
            </div>
          </div>
          <div class="col">
             <div class="card" style="padding: 15px;height: 560px;width: 310px;">
              <div class="card-top">
                <h2 id="text2" style="font-size:17px;margin:0 0 17px;padding: 4px 8px;background-color: #c8ccd0;height: 30px;width: 55px;" class="rounded text-dark">Basic</h2>
              </div>
              <div class="card-body border text-dark text-start">
                <div style="margin: 0 0 25px;padding: 0 0 24px;height: 90px;" class="border-bottom border-danger">
                  <p id="text" class="border border-dark " style="height:40px;margin: 0 0 6px; font-size:27px;">$6.50 USD</p>
                  <p style="color:#a7adb4;font-size:15px" id="text2">per teammate / month</p>
                </div>
                 <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                    <img src='<%= asset_path("key.png") %>'  class="img-fluid " style="width: 20px;height: 20px;"> 
                  </div>
                    <p class="text2" style="font-size: 15px;">Single sign-on (SSO) with SAML + Okta integration</p>
                </div>
                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                    <img src='<%= asset_path("loudspeaker.png") %>'  class="img-fluid" style="width: 20px;height: 20px;"> 
                  </div>
                    <p class="text2" style="font-size: 15px;">ChatOps integrations - Slack & Microsoft Teams</p>
                </div>

                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                  <img src='<%= asset_path("locker.png") %>'  class="img-fluid " style="width: 22px;height: 20px;"> 
                  </div>
                    <p class="text2" style="font-size: 15px;">Your own private space hosted on stackoverflowteams.com</p>
                </div>

                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                    <img src='<%= asset_path("box.png") %>'  class="img-fluid " style="width: 22px;height: 20px;"> 
                  </div>
                  <p class="text2" style="font-size: 15px;">Structured and searchable knowledge base</p>
                </div>

                <div style="margin:40px 0 0" class="text-center">
                    <a href="#" style="height: 43px;margin: 25px 0 0;padding: 12px 70px;background-color: #e3e6e8;color:#0C3B6A;" id="text2" class="fw-bold rounded text-decoration-none ">Get started</a>
                </div>

                  <p style="color:#a7adb4;font-size:15px;padding: 12px 0 0 0;" id="text2" class="mb-0 text-center">Up to 250 teammates</p>
              </div>   
            </div>
          </div>
          <div class="col">
             <div class="card" style="padding: 15px;height: 560px;width: 310px;">
              <div class="card-top">
                <h2 id="text2" style="font-size:17px;margin:0 0 17px;padding: 4px 8px;background-color: #3b4045;height: 30px;width: 90px;" class="rounded">Business</h2>
              </div>
              <div class="card-body border text-dark text-start">
                <div style="margin: 0 0 25px;padding: 0 0 24px;height: 90px;" class="border-bottom border-danger">
                  <p id="text" class="border border-dark " style="height:40px;margin: 0 0 6px; font-size:27px;">$13.50 USD</p>
                  <p style="color:#a7adb4;font-size:15px" id="text2">per teammate / month</p>
                </div>
                <div class="d-flex">
                  <div style="margin: 0 15px 0 0;">
                    <img src='<%= asset_path("plus-sign.png") %>'  class="img-fluid " style="width: 21px;height: 21px;"> 
                  </div>
                    
                    <p style="color:#a7adb4;font-size:15px" id="text2" class="">All the features of Basic plus…</p>
                </div>
                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                    <img src='<%= asset_path("dictionary.png") %>'  class="img-fluid " style="width: 20px;height: 20px;"> 
                  </div>
                    <p class="text2" style="font-size: 15px;">Long-form knowledge with Articles</p>
                </div>

                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                  <img src='<%= asset_path("chain.png") %>'  class="img-fluid " style="width: 22px;height: 20px;"> 
                  </div>
                    <p class="text2" style="font-size: 15px;">Additional integrations — ChatOps, Jira, GitHub & Okta</p>
                </div>

                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                    <img src='<%= asset_path("food-container.png") %>'  class="img-fluid " style="width: 22px;height: 20px;"> 
                  </div>
                  <p class="text2" style="font-size: 15px;">Group content together into Collections</p>
                </div>
                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                    <img src='<%= asset_path("statistics.png") %>'  class="img-fluid " style="width: 20px;height: 20px;"> 
                  </div>
                  <p class="text2" style="font-size: 15px;"  class="mt-2 border border-dark">Usage and adoption metrics  Collections</p>
                </div>
                

                <div style="margin:0 0 0" class="text-center">
                    <a href="#" style="height: 43px;margin: 25px 0 0;padding: 12px 70px;background-color: #e7700d;" id="text2" class="fw-bold rounded text-decoration-none text-white">create a free team</a>
                </div>

                  <p style="color:#a7adb4;font-size:15px;padding: 12px 0 0 0;" id="text2" class="mb-0 text-center">Always free up to 50 teammates</p>
              </div>   
            </div>
          </div>
          <div class="col">
             <div class="card" style="padding: 15px;height: 560px;width: 310px;">
              <div class="card-top">
                <h2 id="text2" style="font-size:17px;margin:0 0 17px;padding: 4px 8px;background-color: #2b2d6e;height: 30px;width: 90px;" class="rounded">Enterprise</h2>
              </div>
              <div class="card-body border text-dark text-start">
                <div style="margin: 0 0 25px;padding: 0 0 24px;height: 90px;" class="border-bottom border-danger">
                  <p id="text" class="border border-dark " style="height:40px;margin: 0 0 6px; font-size:27px;">Custom pricing</p>
                  <p style="color:#a7adb4;font-size:15px" id="text2">Let’s talk about what you need</p>
                </div>
                <div class="d-flex">
                  <div style="margin: 0 15px 0 0;">
                    <img src='<%= asset_path("plus-sign.png") %>'  class="img-fluid " style="width: 21px;height: 21px;"> 
                  </div>
                    
                    <p style="font-size:15px" id="text2" class="mt-2 pt-1">Premium features of Business</p>
                </div>
                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                    <img src='<%= asset_path("group.png") %>'  class="img-fluid " style="width: 20px;height: 20px;"> 
                  </div>
                    <p class="text2" style="font-size: 15px;">Unlimited Teams within your instance</p>
                </div>

                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                  <img src='<%= asset_path("mountains.png") %>'  class="img-fluid" style="width: 22px;height: 20px;"> 
                  </div>
                    <p class="text2" style="font-size: 15px;">Flexible hosting options — cloud or on-premises</p>
                </div>

                <div class="d-flex">
                  <div style="margin: 0 12px 0 0;">
                    <img src='<%= asset_path("chevrons.png") %>'  class="img-fluid " style="width: 22px;height: 20px;"> 
                  </div>
                  <p class="text2" style="font-size: 15px;">Robust read and write API</p>
                </div>

                <div style="margin:0 0px" class="text-center">
                    <a href="#" style="height: 43px;margin: 25px 0 0;padding: 12px 70px;background-color: #e7700d;" id="text2" class="fw-bold rounded text-decoration-none text-white">create a free team</a>
                </div>

                  <p style="color:#a7adb4;font-size:15px;padding: 12px 0 0 0;" id="text2" class="mb-0 text-center">Always free up to 50 teammates</p>
              </div>   
            </div>
          </div>
        </div>
      </div>
      <%# four cards container end in 6th component %>

      <%# four cards container start in 6th component %>


    <div style="margin-top:100px;width:1200px;" class="container border border-warning">
      <div class="row row-cols-1 row-cols-md-4 g-2 " >
        <div class="col">
          <div class="card border" style="background-color:#0C0D0E;">
           
            <div class="card-body" style="padding:24px">
             
              <p class="card-text" id="text2" style="font-size:17px;">A Forrester Consulting study shows <strong id="text" class="text-primary">191% return on investment</strong> with Stack Overflow for Teams.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border" style="background-color:#0C0D0E;">
           
            <div class="card-body" style="padding:24px">
             
              <p class="card-text" id="text2" style="font-size:17px;">The world’s largest telecom firm <strong id="text" class="text-primary">saved $10M</strong> in deflected support cases with our centralized knowledge base.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border" style="background-color:#0C0D0E;">
           
            <div class="card-body" style="padding:24px">
             
              <p class="card-text" id="text2" style="font-size:17px;">Subject-matter experts at software platform Unqork had <strong id="text" class="text-primary">27% more time</strong> to work on projects after using Teams.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border" style="background-color:#0C0D0E;">
           
            <div class="card-body" style="padding:20px">
             
              <p class="card-text" id="text2" style="font-size:17px;">you can save time and money with stackOverflow for teams</p><br>
              <a href="#" style="border-radius: 2px;border: 2px solid #1b75d0;padding: 12px 32px;font-size: 15px;" id="text2" class="text-primary fw-bold rounded text-decoration-none">Calulate your ROI</a>
            </div>
          </div>
      </div>
    </div>
  </div>
    <%# four cards container end in 6th component %>

    <%# sixth sub component in 6th component start %>
    <div style="height:480px;width: 1290px; " class="border border-danger mt-5 mx-auto">
      <div class="row row-cols-1 row-cols-md-3 g-0" style="width:100%">
        <div class="col" style="width:25%">
          <div class="card">
             <img src='<%= asset_path("illo-integrations-left.png") %>'  class="img-fluid  bg-dark" style=""> 
          
          </div>
        </div>
        <div class="col" style="width:50%">
          <div class="card">
           
            <div class="card-body bg-dark">
              <h2 class="card-title" id="text">Integrates with and improves other tools</h2>
              <p class="card-text" id="text2" class="fw-bold" style="font-size:19px;color:#babfc5;margin:0 0 32px;">All plans come with integrations for ChatOps tools Slack & Microsoft Teams in order to cut down on pings, limit distractions and make the tools even more powerful. Business and Enterprise customers get access to Jira, GitHub & Okta integrations.</p>
              <div>
                edfef
              </div>
            </div>
          </div>
        </div>
        <div class="col" style="width:25%">
          <div class="card">
             <img src='<%= asset_path("illo-integrations-right.png") %>'  class="img-fluid  bg-dark"> 
          </div>
        </div>
  
        </div>
    </div>
    <%# sixth sub component in 6th component end %>

  </div>
</section>


<% if user_signed_in? %>
  <h1>Welcome Home, <%= current_user.email %> venkateshhhhhh</h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  
  
<% end %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
      @media screen and (min-width: 1000px) {
        #card-1 {
          width: 55vmin;
        }
        }    
      @media screen and (max-width: 769px) {
        #dec_img-1 {
          display: none;
        }
        #cards_4
        {
          width: 250px;
          border: 5px solid red;
        }
        #cards_2{
          height: 500px;
          width: 280px;
          positio: absolute;
          top:1350px;
          left:0;
          right: 0;
          bottom: 0;
        }
        #cards_22{
          height: 500px;
            width: 280px;
          position: absolute;
          top:1950px;
          left:0;
          right: 0;
          bottom: 0;
         
        }

      }
     
    </style>

</body>
</html>
