<!DOCTYPE html>
<html>
  <head>
    <title>Stackoverflow</title>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
      <link href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" rel="stylesheet">

  </head>

 <body>
  <%= yield %>
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script>
  <% if notice.present? %>
      Toastify({
        text: "<%= notice %>",
        duration: 3000, // 3 seconds
        gravity: "top", // toast position
        position: "right", // toast position
        backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
      }).showToast();
    <% end %>
    
    <% if alert.present? %>
    Toastify({
        text: "<%= alert %>",
        duration: 3000, // 3 seconds
        gravity: "top", // toast position
        position: "right", // toast position
        backgroundColor: "linear-gradient(to right, #f12711, #f5af19)",
      }).showToast();
    <% end %>
  </script>
</body>


</html>
